numpy==2.1.1
scikit-learn==1.5.2
pandas==2.2.3
matplotlib==3.9.2
seaborn==0.13.2
streamlit==1.38.0
statsmodels==0.14.4
transformers==4.47.0
torch==2.5.1
datasets==3.1.0
plotly==5.24.1
emoji==2.14.0
nltk==3.9.1
wordcloud==1.9.4
tensorflow
keras